* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ubuntu', sans-serif;
    cursor: pointer;
}

body{
    background:#f5f5f5;
    padding-top:140px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    background: #fff;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;

    box-shadow: 0 4px 12px rgba(0,0,0,.08);
}

.header-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 24px;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 260px;
}

.logo-area-container {
    display: flex;
    align-items: center;
    gap: 2px;
}

.logo-area img {
    height: 100px;
}

.text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-area h4 {
    color: #F97316;
    font-weight: 700;
}

.text-area p {
    color: #F97316;
    font-size: 12px;
    font-weight: 600;
    margin-top: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.text-area h6 {
    color: #F97316;
    font-size: 11px;
}

/* Hide hamburger on desktop */
.menu-icon{
    display:none;
    width:34px;
    cursor:pointer;
}

.user-welcome{
    display:flex;
    align-items:center;
    gap:12px;
    background:#fff7ed;
    border:2px solid #F97316;
    padding:10px 18px;
    border-radius:12px;
}

.user-welcome img{
    width:38px;
    height:38px;
}

.user-welcome span{
    color:#777;
    font-size:13px;
}

.user-welcome h5{
    color:#F97316;
    font-size:17px;
}

/* Navigation Bar */

.nav-container {
    width: 100%;
}

.navbar {
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.navbar a {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: #F97316;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    padding-bottom: 8px;
}

/* Icons remain unchanged */
.navbar a img {
    height: 18px;
}

/* Smooth text color transition */
.navbar a span {
    transition: color 0.3s ease;
}

/* Underline */
.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #F97316;
    transition: width 0.3s ease;
}

/* Hover effect */
.navbar a:hover span {
    color: #fc6b03;
}

.navbar a:hover::after {
    width: 100%;
}



/* WELCOME SECTION */
.welcome-section {
    width: 100%;
    background: #F97316;
}

.welcome-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 170px;
}

.welcome-text {
    flex: 1.7;
    padding: 0 40px;
    overflow: hidden;
}

.welcome-text marquee {
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 170px;
}

.welcome-image {
    flex: 0.7;
    height: 100%;
}

.welcome-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* SECTION TITLE */

.section-title{
    text-align:center;
    margin-bottom:50px;
}

.section-title h2{
    font-size:36px;
    color:#F97316;
    margin-bottom:10px;
}

.section-title p{
    color:#666;
    font-size:16px;
}

/* ====HERO SECTION==== */

.hero-section{
    position:relative;
    width:100%;
    height:100vh;
    overflow:hidden;
}

.hero-section img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.hero-overlay{

    position:absolute;

    top:0;
    left:0;

    width:100%;
    height:100%;

    display:flex;

    justify-content:center;

    align-items:center;

    background:rgba(0,0,0,.30);

}

.booking-card{

    width:90%;
    max-width:1100px;

    background:rgba(255,255,255,.95);

    padding:40px;

    border-radius:18px;

    box-shadow:0 15px 35px rgba(0,0,0,.25);

}

.booking-card h2{

    text-align:center;

    color:#F97316;

    margin-bottom:35px;

    font-size:34px;

}

.booking-form{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:20px;

    align-items:end;

}

.input-group{

    display:flex;

    flex-direction:column;

}

.input-group label{

    margin-bottom:8px;

    color:#444;

    font-weight:600;

}

.input-group select,

.input-group input{

    height:55px;

    border:2px solid #ddd;

    border-radius:10px;

    padding:0 15px;

    font-size:15px;

    outline:none;

}

.input-group select:focus,

.input-group input:focus{

    border-color:#F97316;

}

.booking-features{

    margin-top:25px;

    display:flex;

    justify-content:center;

    gap:35px;

    flex-wrap:wrap;

    color:#555;

    font-weight:600;

}

#travelTip{

    text-align:center;

    color:#F97316;

    margin-top:20px;

    font-weight:bold;

    font-size:15px;

}

.find-train-btn{

    height:55px;

    border:none;

    background:#F97316;

    color:#fff;

    border-radius:10px;

    font-size:17px;

    font-weight:700;

    transition:.3s;

}

.find-train-btn:hover{

    background:#d95f07;

}

/* ================= SERVICES ================= */

.services-section{
    width:100%;
    padding:80px 8%;
    background:#fafafa;
}

.services-container{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:30px;
}

.service-card{
    background:#fff;
    padding:35px 25px;
    text-align:center;
    border-radius:12px;
    box-shadow:0 5px 18px rgba(0,0,0,.08);
    transition:.35s;
}

.service-card:hover{
    transform:translateY(-10px);
}

.service-card img{
    width:55px;
    margin-bottom:20px;
}

.service-card h3{
    color:#F97316;
    margin-bottom:15px;
}

.service-card p{
    color:#666;
    line-height:1.7;
}

/* ================= NOTICE ================= */

.notice-section{
    width:100%;
    padding:80px 8%;
    background:#fff;
}

.notice-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}

.notice-card{
    border-left:6px solid #F97316;
    background:#fafafa;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 18px rgba(0,0,0,.08);
}

.notice-card h3{
    color:#F97316;
    margin-bottom:15px;
}

.notice-card p{
    color:#555;
    line-height:1.8;
}



/* ================= FOOTER ================= */

.footer{
    background:#1f2937;
    color:#fff;
    margin-top:80px;
}

.footer-container{
    width:85%;
    margin:auto;
    padding:60px 0;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:50px;
}

.footer-box img{
    width:90px;
    margin-bottom:15px;
}

.footer-box h3{
    color:#F97316;
    margin-bottom:20px;
    font-size:22px;
    cursor: auto;
}

.footer-box p{
    color:#d1d5db;
    line-height:1.8;
    font-size:15px;
    cursor: auto;
}

.footer-box ul{
    list-style:none;
}

.footer-box ul li{
    margin-bottom:12px;
}

.footer-box ul li a{
    color:#d1d5db;
    text-decoration:none;
    transition:.3s;
}

.footer-box ul li a:hover{
    color:#F97316;
    padding-left:8px;
}

.social-links{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.social-links a{
    color:#d1d5db;
    text-decoration:none;
    transition:.3s;
}

.social-links a:hover{
    color:#F97316;
    transform:translateX(8px);
}

.footer-bottom{
    border-top:1px solid rgba(255,255,255,.15);
    text-align:center;
    padding:20px;
}

.footer-bottom p{
    color:#d1d5db;
    font-size:14px;
}